apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Values.apiServer.namePrefix }}-config
  labels:
    {{- include "smallest-self-host.labels" . | nindent 4 }}
data:
  api.toml: |
    [license_proxy]
      url = [
        "http://{{ .Values.licenseProxy.namePrefix }}-internal:{{ .Values.licenseProxy.port}}{{ .Values.licenseProxy.baseUrl }}"
      ]

    [server]
      base_url = "{{ .Values.apiServer.baseUrl }}"
      host = "{{ .Values.apiServer.host }}"
      port = {{ .Values.apiServer.port }}
      lightning_asr_url = "http://{{ .Values.lightningAsr.namePrefix }}-internal:{{ .Values.lightningAsr.port}}{{ .Values.lightningAsr.baseUrl }}"
      lightning_asr_streaming_url = "http://{{ .Values.lightningAsr.namePrefix }}-internal:{{ .Values.lightningAsr.port}}{{ .Values.lightningAsr.baseUrl }}"
      {{- if .Values.redis.externalHost }}
      redis_host = "{{ .Values.redis.externalHost }}"
      {{- else }}
      redis_host = "{{ .Release.Name }}-redis-master"
      {{- end }}
      redis_port = {{ .Values.redis.port }}
      {{- if .Values.redis.auth.enabled }}
      redis_password = "{{ .Values.redis.auth.password }}"
      {{- end }}
      redis_ssl = {{ .Values.redis.ssl }}
