{{- if .Values.scaling.auto.enabled }}
apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: {{ .Values.apiServer.namePrefix }}
  labels:
    {{- include "smallest-self-host.labels" . | nindent 4 }}
    app: {{ .Values.apiServer.namePrefix }}
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: {{ .Values.apiServer.namePrefix }}
  minReplicas: {{ .Values.scaling.auto.apiServer.hpa.minReplicas }}
  maxReplicas: {{ .Values.scaling.auto.apiServer.hpa.maxReplicas }}
  metrics:
  - type: External
    external:
      metric:
        name: lightning_asr_replica_count
      target:
        type: AverageValue
        averageValue: "{{ .Values.scaling.auto.apiServer.hpa.lightningAsrToApiServerRatio }}"
  behavior:
    scaleUp:
      stabilizationWindowSeconds: {{ .Values.scaling.auto.apiServer.hpa.scaleUpStabilizationWindowSeconds }}
      policies:
      - type: Percent
        value: 100
        periodSeconds: 30
      - type: Pods
        value: 2
        periodSeconds: 30
      selectPolicy: Max
    scaleDown:
      stabilizationWindowSeconds: {{ .Values.scaling.auto.apiServer.hpa.scaleDownStabilizationWindowSeconds }}
      policies:
      - type: Percent
        value: 50
        periodSeconds: 60
      - type: Pods
        value: 1
        periodSeconds: 60
      selectPolicy: Min
{{- end }}

