global:
  pullSecretRef: "smallest-quay-registry-secret"
  outstandingRequestGracePeriod: 30
  licenseKey: "2331e900ee76e5c9cb619547ae34ab9304cf96ff726550396f9408f68cbfe3b1"

scaling:
  replicaCount: 1
  replicas:
    lightningAsr: 1
    licenseProxy: 1

apiServer:
  namePrefix: api-server
  image: "quay.io/smallestinc/self-hosted-api-server:latest"
  imagePullPolicy: IfNotPresent
  port: 7100
  baseUrl: ""
  host: "0.0.0.0"
  podAnnotations: {}

  livenessProbe:
    initialDelaySeconds: 30
    periodSeconds: 10
    timeoutSeconds: 5

  readinessProbe:
    initialDelaySeconds: 30
    periodSeconds: 10
    timeoutSeconds: 5

  startupProbe:
    initialDelaySeconds: 30
    periodSeconds: 10
    timeoutSeconds: 5
    failureThreshold: 30

  service:
    type: ClusterIP
    loadBalancerSourceRanges: []
    externalTrafficPolicy: ""

lightningAsr:
  namePrefix: lightning-asr
  image: "quay.io/smallestinc/lightning-asr-english:latest"
  imagePullPolicy: IfNotPresent
  port: 2269
  baseUrl: ""
  podAnnotations: {}

  updateStrategy:
    rollingUpdate:
      maxUnavailable: 0
      maxSurge: 1

  livenessProbe:
    initialDelaySeconds: 60
    periodSeconds: 30
    timeoutSeconds: 10

  readinessProbe:
    initialDelaySeconds: 60
    periodSeconds: 30
    timeoutSeconds: 10
    failureThreshold: 40

  resources:
    limits:
      nvidia.com/gpu: 1
    requests:
      nvidia.com/gpu: 1

licenseProxy:
  namePrefix: license-proxy
  image: "quay.io/smallestinc/license-proxy:latest"
  imagePullPolicy: IfNotPresent
  port: 3369
  baseUrl: ""
  podAnnotations: {}

  service:
    type: ClusterIP

  resources: {}

  volumeMounts: []

  volumes: []

redis:
  enabled: true
  auth:
    enabled: true
    password: "SmallestSelfHostRedisRandom"
  master:
    persistence:
      enabled: true
      size: 8Gi
  replica:
    replicaCount: 1
    persistence:
      enabled: true
      size: 8Gi


