global:
  pullSecretRef: ""
  outstandingRequestGracePeriod: 30
  # licenseKey and imageCredentials are required for the self-hosted deployment
  licenseKey: ""

  # this will be provided by team, if not, please contact support@smallest.ai
  imageCredentials:
    create: true
    registry: quay.io
    username: ""
    password: ""
    email: ""

  # ignore this if you are using the default licenseKey and imageCredentials
  licenseKeySecretRef: ""
  imageCredentialsSecretRef: ""

# use this if you want to share model volume across multiple pods, this prevents duplicate model downloads
models:
  # default model url for lightning-asr
  # you can change this to the model url you want to use
  # contact support@smallest.ai to get the model urls
  asrModelUrl: "https://onprem-public-models.s3.ap-south-1.amazonaws.com/asr/lightning-base-dr-171225.smlst"
  volumes:
    aws:
      efs:
        enabled: false
        fileSystemId: ""
        namePrefix: "models"

scaling:
  replicas:
    # default replica count for lightning-asr
    lightningAsr: 1
    # default replica count for license-proxy
    licenseProxy: 1

  # use this if you want to enable automatic scaling based on metrics
  auto:
    enabled: false
    apiServer:
      hpa:
        enabled: false
        minReplicas: 1
        maxReplicas: 10
        # default ratio of lightning-asr to api-server
        lightningAsrToApiServerRatio: 2
        scaleUpStabilizationWindowSeconds: 30
        scaleDownStabilizationWindowSeconds: 60
    lightningAsr:
      servicemonitor:
        enabled: true
      hpa:
        enabled: false
        minReplicas: 1
        maxReplicas: 10
        targetActiveRequests: 5
        scaleUpStabilizationWindowSeconds: 0
        scaleDownStabilizationWindowSeconds: 300
        behavior:
          scaleUp:
            stabilizationWindowSeconds: 5
            policies:
            - type: Percent
              value: 100
              periodSeconds: 15
            - type: Pods
              value: 2
              periodSeconds: 15
            selectPolicy: Max
          scaleDown:
            stabilizationWindowSeconds: 300
            policies:
            - type: Percent
              value: 50
              periodSeconds: 60
            - type: Pods
              value: 1
              periodSeconds: 60
            selectPolicy: Min

apiServer:
  namePrefix: api-server
  image: "quay.io/smallestinc/self-hosted-api-server:latest"
  imagePullPolicy: IfNotPresent
  port: 7100
  baseUrl: ""
  host: "0.0.0.0"
  podAnnotations: {}

  livenessProbe:
    initialDelaySeconds: 30
    periodSeconds: 10
    timeoutSeconds: 5

  readinessProbe:
    initialDelaySeconds: 30
    periodSeconds: 10
    timeoutSeconds: 5
    failureThreshold: 3

  startupProbe:
    initialDelaySeconds: 30
    periodSeconds: 10
    timeoutSeconds: 5
    failureThreshold: 30

  service:
    type: ClusterIP
    loadBalancerSourceRanges: []
    externalTrafficPolicy: ""

  resources:
    requests:
      cpu: 100m
      memory: 256Mi
    limits:
      cpu: 500m
      memory: 512Mi

lightningAsr:
  namePrefix: lightning-asr
  image: "quay.io/smallestinc/lightning-asr-non-streaming:latest"
  imagePullPolicy: IfNotPresent
  port: 2269
  baseUrl: ""
  podAnnotations: {}

  updateStrategy:
    rollingUpdate:
      maxUnavailable: 0
      maxSurge: 1

  livenessProbe:
    initialDelaySeconds: 300
    periodSeconds: 30
    timeoutSeconds: 10

  readinessProbe:
    initialDelaySeconds: 30
    periodSeconds: 30
    timeoutSeconds: 10
    failureThreshold: 20

  # we recommend using nodeSelector to schedule lightning-asr on GPU nodes
  nodeSelector:

  # we recommend using tolerations to allow lightning-asr to run on GPU nodes
  tolerations:
  

  labels: []

  resources:
    limits:
      memory: 12Gi
    requests:
      memory: 10Gi

licenseProxy:
  namePrefix: license-proxy
  image: "quay.io/smallestinc/license-proxy:latest"
  imagePullPolicy: IfNotPresent
  port: 3369
  baseUrl: ""
  podAnnotations: {}

  livenessProbe:
    initialDelaySeconds: 10
    periodSeconds: 10
    timeoutSeconds: 5

  readinessProbe:
    initialDelaySeconds: 5
    periodSeconds: 10
    timeoutSeconds: 5
    failureThreshold: 3

  service:
    type: ClusterIP

  resources: {}

  volumeMounts: []

  volumes: []

redis:
  enabled: true
  externalHost: ""
  port: 6379
  ssl: false
  auth:
    enabled: true
    password: "SmallestSelfHostRedisRandom"
  master:
    persistence:
      enabled: false
      size: 8Gi
  replica:
    replicaCount: 1
    persistence:
      enabled: false
      size: 8Gi

kube-prometheus-stack:
  fullnameOverride: "smallest-prometheus-stack"
  prometheus:
    prometheusSpec:
      serviceMonitorSelectorNilUsesHelmValues: false

  prometheusOperator:
    enabled: false

  alertmanager:
    enabled: false

  grafana:
    enabled: false

  nodeExporter:
    enabled: false

  kubeStateMetrics:
    enabled: true

prometheus-adapter:
  prometheus:
    url: http://smallest-prometheus-stack-prometheus.default.svc
    port: 9090
  rules:
    default: false
    custom:
      - seriesQuery: "asr_active_requests"
        seriesFilters: []
        resources:
          overrides:
            namespace:
              resource: namespace
            pod:
              resource: pod
        name:
          matches: "^(.*)$"
          as: "${1}"
        metricsQuery: "asr_active_requests{<<.LabelMatchers>>}"
    external:
      - seriesQuery: 'kube_deployment_status_replicas{deployment="lightning-asr"}'
        metricsQuery: 'sum(kube_deployment_status_replicas{deployment="lightning-asr"})'
        name:
          as: "lightning_asr_replica_count"
        resources:
          overrides:
            namespace: { resource: "namespace" }

cluster-autoscaler:
  # Toggle this to enable or disable node-level autoscaling.
  # On AWS EKS this must be enabled explicitly.
  # (On GKE, autoscaling is usually configured during cluster creation.)
  enabled: false

  rbac:
    serviceAccount:
      # ServiceAccount used by Cluster Autoscaler to interact with AWS APIs
      # Required
      name: cluster-autoscaler-sa
      annotations:
        # IAM role ARN for the Cluster Autoscaler
        # Required
        eks.amazonaws.com/role-arn: ""

  autoDiscovery:
    # Required
    clusterName:

  # Required
  awsRegion:
