version: "3.8"

services:
  lightning-asr:
    image: quay.io/smallestinc/lightning-asr:latest
    ports:
      - "2233:2233"
    environment:
      - MODEL_URL=[GET THIS FROM SUPPORT]
      - LICENSE_KEY=${LICENSE_KEY}
      - REDIS_URL=redis://redis:6379
      - PORT=2233 # 8876 for streaming
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      # - REDIS_USERNAME=
      # - REDIS_PASSWORD=
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [gpu]
    restart: unless-stopped
    networks:
      - kraken-network
  api-server:
    image: quay.io/smallestinc/self-hosted-api-server:latest
    container_name: api-server
    environment:
      - LICENSE_KEY=${LICENSE_KEY}
      - LIGHTNING_ASR_BASE_URL=http://lightning-asr:2233
      - API_BASE_URL=http://license-proxy:6699
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      # - REDIS_USERNAME=
      # - REDIS_PASSWORD=
    ports:
      - "7100:7100"
    networks:
      - kraken-network
    restart: unless-stopped
    volumes:
      - ./on-prem/api-server:/app
    depends_on:
      - license-proxy

  license-proxy:
    image: quay.io/smallestinc/license-proxy:latest
    container_name: license-proxy
    environment:
      - LICENSE_KEY=${LICENSE_KEY}
      - PORT=3369
    networks:
      - kraken-network
    restart: unless-stopped
    volumes:
      - ./on-prem/license-proxy:/app

  redis:
    image: redis:latest
    ports:
      - "6379:6379"
    networks:
      - kraken-network
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 3s
      retries: 5

networks:
  kraken-network:
    driver: bridge
    name: kraken-network
