version: '3.8'

services:
  lightning-asr:
    image: quay.io/smallestinc/lightning-asr-multi:latest
    # image: quay.io/smallestinc/lightning-asr-enlish:latest # for english model
    ports:
      - "2233:2233"
    environment:
      - LICENSE_KEY=${LICENSE_KEY}
      - PORT=2233
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [gpu]
    restart: unless-stopped
    networks:
      - kraken-network
  api-server:
    image: quay.io/smallestinc/self-hosted-api-server:181125
    container_name: api-server
    environment:
      - LICENSE_KEY=${LICENSE_KEY}
      - LIGHTNING_ASR_BASE_URL=http://lightning-asr:2233
      - API_BASE_URL=http://license-proxy:6699
    ports:
      - "7100:7100"
    networks:
      - kraken-network
    restart: unless-stopped
    volumes:
      - ./on-prem/api-server:/app
    depends_on:
      - license-proxy

  license-proxy:
    image: quay.io/smallestinc/license-proxy:latest
    container_name: license-proxy
    environment:
      - LICENSE_KEY=${LICENSE_KEY}
    networks:
      - kraken-network
    restart: unless-stopped
    volumes:
      - ./on-prem/license-proxy:/app

networks:
  kraken-network:
    driver: bridge
    name: kraken-network
