version: '3.8'

services:
  redis:
    image: redis:7-alpine
    container_name: redis-server
    ports:
      - "6379:6379"
    networks:
      - kraken-network
    restart: unless-stopped
    command: redis-server --appendonly yes
    volumes:
      - ./on-prem/redis-data:/data
    environment:
      - REDIS_DISABLE_COMMANDS=FLUSHDB,FLUSHALL
  api-server:
    image: quay.io/smallestinc/self-hosted-api-server:7o3u2y
    container_name: api-server
    environment:
      - PORT=7100
      - API_BASE_URL=http://license-proxy:3369
      - LICENSE_KEY=${LICENSE_KEY}
      - LIGHTNING_LARGE_BASE_URL=http://lightning-large-on-prem:9989
      - REDIS_HOST=redis
      - REDIS_PORT=6379
    networks:
      - kraken-network
    ports:
      - "7100:7100" # keep is same as the env variable PORT
    restart: unless-stopped
    volumes:
      - ./on-prem/api-server:/app
    depends_on:
      - license-proxy

  license-proxy:
    image: quay.io/smallestinc/license-proxy:7o3u2y
    container_name: license-proxy
    environment:
      - PORT=3369
      - LICENSE_KEY=${LICENSE_KEY}
    networks:
      - kraken-network
    restart: unless-stopped
    volumes:
      - ./on-prem/license-proxy:/app
  lightning-large-on-prem:
    image: quay.io/smallestinc/lightning-large:7o3u2y
    container_name: lightning-large-on-prem
    ports:
      - "9989:9989"
    environment:
      - PORT=9989
      - LICENSE_KEY=${LICENSE_KEY}
    networks:
      - kraken-network
    restart: unless-stopped
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [ gpu ]

networks:
  kraken-network:
    driver: bridge
    name: kraken-network
